@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

:root{
    --primary-color:#610404;
    --secondary-color: #c51a1a;
    --button-color: orange;
}

html, body {
    height: 100%;
}

body{
    margin: 0;
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

h1{
    color: #ffffff;
}

.btn-primary{
    color: #ffffff;
    background-color: var(--button-color);
    border-color: var(--button-color);
}

.btn-primary:hover{
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

@media screen and (max-width: 450px) {
    .message {
        font-size: 33px;
    }
}