@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --primary-color:#610404;
    --secondary-color: #c51a1a;
}

body{
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

button.add-to-watchlist, button.read-review, input[type="submit"], button.pick-new-film{
    background-color: orange;
    color:white;
    font-size: 18px;
    font-weight: bold;
    border:0;
    border-radius: 50px;
    padding: 10px 20px;
    margin-top: 5px;
}

button.add-to-watchlist:hover, button.read-review:hover, input[type="submit"]:hover, button.pick-new-film:hover{
    cursor: pointer;
    background-color: var(--secondary-color);
}

img{
    margin-bottom: 10px;
    border-radius: 10px;
}

#film-poster{
    margin-top: 20px;
}

h2, h3{
    color: #ffffff;
    margin-left: 0px;
}

#rating{
    margin-left: 0px;
}

input[type='radio']{
    accent-color: orange;
}

textarea[name="recensione"]{
    border-radius: 10px;
    margin-left: 0px;
    margin-top: -10px;
}

textarea[name="recensione"]:focus{
    border-color: orange;
    box-shadow: 0 0 0 0.25rem rgba(223, 96, 12, 0.774);
    font-size: 16px;
}

a.link{
    color: rgb(0, 140, 255);
}

a.link:visited{
    color: rgb(0, 81, 148);
}

@media screen and (max-width: 1000px){
    h2, h3{
        font-size: 20px;
    }
    #poster{
        width: 240;
        height: 340;
    }
    
    h2{
        font-size: 20px;
    }
    
    a{
        font-size: 20px;
    }
    textarea[name="recensione"]{
        width: 20em;
        height: 7em;
    }
    button.add-to-watchlist, button.read-review, input[type="submit"], button.pick-new-film{
        font-size: 15px;
    }
}