@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --primary-color:#610404;
    --secondary-color: #c51a1a;
}

body{
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

img{
    margin-bottom: 10px;
    border-radius: 10px;
}

#img-persona{
    margin-top: 20px;
}

div{
    margin-top: 0px;
}

h2, h3{
    color: #ffffff;
    margin-left: 0px;
}

#compare-in > h2{
    font-size: 25px;
}

a{
    font-size: 25px;
}

a.link{
    color: rgb(0, 140, 255);
}

a.link:visited{
    color: rgb(0, 81, 148);
}

@media screen and (max-width: 1000px){
    h2, h3{
        font-size: 20px;
    }
    #img-principale{
        width: 230;
        height: 300;
    }
    
    #compare-in > h2{
        font-size: 20px;
    }
    
    a{
        font-size: 20px;
    }
}