@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --primary-color:#610404;
    --secondary-color: #c51a1a;
    --button-color: orange;
}

html, body {
    height: 100%;
}

body{
    margin: 8px;
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3{
    color: #ffffff;
    font-size: 24px;
    overflow-wrap: break-word;
}

img{
    border-radius: 10px;
    margin-bottom: 10px;
}

div#boxfilm{
    text-align: center;
    position: relative;
}

div.film{
    background-color: var(--secondary-color);
    display: inline-block;
    max-width: 250px;
    height: 650px;
    padding: 1em;
    border-radius: 20px;
    margin: 10px;
}

div > div.film {
    vertical-align:middle;
}

.btn-primary{
    background-color: var(--button-color);
    border-color: var(--button-color);
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border:0;
    border-radius: 50px;
    padding: 10px 20px;
}
  
.btn-primary:hover{
    background-color: var(--button-color);
    border-color: var(--button-color);
}

div.scheda-film-button, div.rimuovi-button{
    margin: 7px 0px;
}

div.aggiungi-film
{
    margin: 7px 15px;
}

div#button-row{
    display: flex;
    justify-content: space-between;
}