@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --primary-color:#610404;
    --secondary-color: #c51a1a;
    --button-color: orange;
}

html, body {
    height: 100%;
}

body{
    margin: 0;
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    padding-top: 8px;
    padding-bottom: 20px;
}

h1, h2, h3{
    color: #ffffff;
}

div.watchlist{
    margin-left: 17px;
    margin-top: 12px;
    margin-bottom: 15px;
    background-color: var(--secondary-color);
    display: inline-block;
    padding: 1em;
    border-radius: 20px;
}

.btn-primary{
    background-color: var(--button-color);
    border-color: var(--button-color);
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border:0;
    border-radius: 50px;
    padding: 10px 20px;
}
  
.btn-primary:hover{
    background-color: var(--button-color);
    border-color: var(--button-color);
}

.button-div{
    margin: 5px 17px;
}

div.message{
    margin: 5px 17px;
}